* {
    background-color: #040a44;
    color: white;
}

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.far, .fas {
    font-size: 100px;
    color: white;
    height: 100px;
    width: 100px;
    padding: 20px;
}

button {
    border: 3px solid cyan;
    border-radius: 6%;
    transition: all 0.2s ease;
}

.left button:hover, .right button:hover {
    cursor: default;
    transform: none;
}

.left, .right {
    margin-bottom: 50px;
    padding: 20px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playAgain {
    font-size: 35px;
    padding: 20px;
    display: none;
}

button.resultButton {
    border: 3px solid #474226;
}

button:hover {
    cursor: pointer;
  transition: all 0.2s ease;
    transform: scale(1.1);
}

.button-off {
    border: 3px solid #474226;
}

h1, p {
    text-align: center;
    font-family: 'Quicksand';
}

.footer {
    background-color: #030729;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 2vh;
    margin: 
    background-color: #030729;
}

p {
    font-size: 30px;
}

#individualResults {
    display: flex;
    justify-content: center;
    gap: 150px;
    text-align: center;
}

#gameButtons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button.win {
    border: 3px solid #18eb4d;
}

button.lose {
    border: 3px solid #db1515;
}

button.tie {
    border: 3px solid gold;
}

